<div class="nav-collapse">
  <ul class="nav">
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/categories">Categories</a></li>
    <li><a href="/admin/jobs">Jobs</a></li>
    <li><a href="/admin/projects">Projects</a></li>
    <li><a href="/admin/leads">Leads</a></li>
    <li><a href="/admin/logs">Logs</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>