<div class="nav-collapse">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/#find-a-pro">Find a Pro</a></li>
    <li><a href="/#how-it-works">How it works</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#contact">Contact</a></li>
    <li><a href="/#faq">Faq</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>